@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	background-color: #476177;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color:#333;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}

.hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.container{
    width: 1000px;
    display: flex;
    margin: 50px auto 0 auto;
}
.right{
	width: 770px;
    padding: 40px;
    margin-bottom: 70px;
    background-color: white;
}

.detail{
    background-color: white;
}

.detail h1{
    border-bottom: 1px solid #333;
    padding-bottom: 40px;
    background-color: white;
}

.dFlex{
    display: flex;
    padding-top: 40px;
    margin-bottom: 60px;
    background-color: white;
}

.dFlex span{
    background-color: white;
    margin-right: 40px;
}

.content{
    font-size: 17px;
    background-color: white;
    line-height: 3em;
}

.subBtns{
    display: flex;
    justify-content: right;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
}

.subBtns div{
    background-color: white;
    margin-left: 10px;
}

.subBtns a{
    display: inline-block;
    padding: 7px 20px;
    color: #333;
    background-color: white;
    border: 1px solid #333;
}

.board__reply, .board__reply h3, .board__reply input, .board__reply div, .board__reply textarea, .board__reply button, .board__reply label, #relist, #relist li, #relist p, #relist b{
   	background-color: white;
}	

.board__reply-bottom input, .board__reply-bottom button{
	border: 1px solid #333;
}
.replyList {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
}

.replyList button {
   padding: 2.5px;
   margin-left: 7px;
   font-size: 12px;
   border-radius: 5px;
   color: #333;
   background-color: rgba(252, 240, 221, 0.9);
   border: solid 1px rgb(255, 196, 102);
   cursor: pointer;
}

.replymodal {
   position: fixed;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   display: none;
   background-color: rgba(0,0,0,0.4);
}

.modal-content {
   position: absolute;
   top: 50%; 
   left: 50%; 
   width: 250px; 
   padding: 40px; 
   text-align: center;
   background-color: rgb(255, 255, 255); 
   border-radius: 10px; 
   box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15); 
   transform: translateX(-50%) translateY(-50%); 
}

.modal-header {
   margin-bottom: 30px;
}

.modal-title {
   height: 24px;
   font-size: 24px;
}

.modal-body {
   margin-bottom: 25px;
}

.modal-body label {
    margin-right: 13px;
}

.modal-replyer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
}

.modal-reply {
   display: flex;
    justify-content: center;
    align-items: center;
}

#insideModBtn, #insideCloseBtn {
   padding: 5px 7px;
   margin: 0 6px;
   border-radius: 9px;
   color: #333;
   background-color: rgba(252, 240, 221, 0.9);
   border: solid 1px rgb(255, 196, 102);
   cursor: pointer;
}

table{
    margin-top: 300px;
    background-color: white;
    padding: 2px 20px;
}

table th, table td{
    padding: 10px 20px;
    background-color: white;
}

table .title{
    width: 520px;
}
table a{
    background-color: white;
    color: #333;
}
.pageInfo{
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 70px;
   	background-color: white;
}
.pageInfo li{
    font-size: 20px;
    padding: 7px;
    font-weight: 500;
    margin:0 5px;
    background-color: white;
}

.pageInfo a{
	background-color: white;
}

.pageInfo .previous{
	margin-right: 10px;
}

.pageInfo a:link {color:#333; text-decoration: none;}
.pageInfo a:visited {color:black; text-decoration: none;}
.pageInfo a:hover {color:#F4BF3D; text-decoration: underline;}

.active, .active a{
    background-color: #F4BF3D;
    border-radius: 20px;
}