@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    background-color: #476177;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color:#333;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}

.hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*main*/
.container{
    width: 1000px;
    display: flex;
    margin: 50px auto 0 auto;
}

.right{
    width: 800px;
}

.Rcategory{
    padding-left: 30px;
    background-color: white;
}

.Rcategory span{
    background-color: white;
}

.Mpost{
    margin-top: 30px;
    line-height: 6em;
    padding-left: 40px;
    background-color: white;
}

.Mpost a{
    background-color: white;
}

.Mpost h1, .Mpost div, .Mpost span{
    background-color: white;
}

.content{
	padding-right: 40px;
	white-space : nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}

.Rflex{
    display: flex;
}

.Rflex span{
    margin-right: 40px;
}

.detRem{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    margin-bottom: 100px;
    padding-bottom: 40px;
}

.detRem div{
    border: 1px solid #333;
}

.detRem div:last-child{
    margin-right: 50px;
    margin-left: -1px;
}

.detRem a{
    display: inline-block;
    padding: 7px 20px;
    color: #333;
    background-color: white;
}

.pageInfo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
}
.pageInfo li{
    font-size: 20px;
    padding: 7px;
    font-weight: 500;
    margin:0 5px;
}

.pageInfo .previous{
	margin-right: 10px;
}

.pageInfo a:link {color:white; text-decoration: none;}
.pageInfo a:visited {color:black; text-decoration: none;}
.pageInfo a:hover {color:#F4BF3D; text-decoration: underline;}

.active, .active a{
    background-color: #F4BF3D;
    border-radius: 20px;
}
