@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    background-color: #476177;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color:#333;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}

.hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    color: #F4BF3D;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 400px;

    padding: 40px;

    text-align: center;
    line-height: 5em;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

.modal_body h1, .modal_body input, .modal_body div{
    background-color: white;
}

.modal_body h1{
    border-bottom: 1px solid #333;
    margin-bottom: 40px;
}

.modal_idps{
    margin-bottom: 20px;
}

.modal_body input, .modal_body button{
    border: 1px solid #333;
    border-radius: 30px;
}

.modal_body input{
    width: 300px;
    padding: 15px 20px;
}

.modal_body button{
    background-color: rgb(252, 240, 221);
    padding: 10px 20px;
    cursor: pointer;
}

.login{
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

.login a{
    font-weight: bolder;
    font-size: 14px;
    color: black;

}

.headh1{
    margin-top: 60px;
    margin-left: 30px;
}

.headh1 a{
	color: #F4BF3D;
}

/*main*/
.container{
    width: 1000px;
    display: flex;
    margin: 50px auto 0 auto;
}

.left{
    width: 200px;
    color: #F4BF3D;
}

.profile_image{
    width: 180px;
    height: 180px;
    background-color: white;
    margin-top: 40px;
}

.profile_text{
    margin-top: 15px;
    margin-left: 10px;
    line-height: 2em;
}

.Lcategory{
    margin-top: 25px;
    margin-left: 10px;
    line-height: 2em;
}

.Lcategory span{
    font-weight: bold;
}

.Lcategory li{
    color: white;
}

.datepicker{
    margin-top: 25px;
}

.datepicker span{
    margin-left: 10px;
}

.right{
    width: 800px;;
}

.Rcategory{
    padding-left: 30px;
    background-color: white;
}

.Rcategory span{
    background-color: white;
}

.Mpost{
    margin-top: 30px;
    line-height: 6em;
    padding-left: 30px;
    background-color: white;
    margin-bottom: 100px;
}

.Mpost h1, .Mpost div, .Mpost span{
    background-color: white;
}

.Rflex{
    display: flex;
}

.Rflex span{
    margin-right: 40px;
}