<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/main.css">
</head>
<body>
    <header>
        <div>로그인/로그아웃</div>
        <div><h1>{아이디}님의 블로그</h1></div>
    </header>
    <main>
        <div class="left">
            <div class="profile">
                <img src="" alt="">
                <div>{닉네임}</div>
                <div>{인삿말}</div>
                <a href="">글쓰기</a>
                <a href="">관리</a>
            </div>
            <div class="category">
                대충 카테고리
            </div>
            <div>
                대충 달력
            </div>
        </div><!--left 끝-->

        <div class="right">
            <div>
                {카테고리}
                <h1>{제목}</h1>
                <div>닉네임</div> <div>작성시간</div>
                <div>글 내용</div>
            </div>

        </div>
    </main>
</body>
</html>