<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <script src="./main.js"></script>
</head>
<body>
    <header>
        <div class="login">
            <a href="#">로그인</a>/
            <a href="#">로그아웃</a>
        </div>
        <h1 class="headh1">{아이디}님의 블로그</h1>
    </header>
    <div class="container">
        <div class="left">
            <div class="profile">
                <div class="profile_image">
                    <img src="" alt="">
                </div>
                <div class="profile_text">
                    <div>{닉네임}</div>
                    <div>{인삿말}</div>
                    <a href="">글쓰기</a>
                    <a href="">관리</a>
                </div>
            </div>
            <div class="Lcategory">
                카테고리
                <ul>
                    <li>전체보기({전체글갯수})</li>
                </ul>
            </div>
            <div class="datepicker">
                <span>대충 달력</span>
            </div>
        </div><!--left 끝-->
        <div class="right">
            <div>
                <div class="Rcategory">{카테고리}</div>
                <div class="Mpost">
                    <h1>{제목}</h1>
                    <div class="Rflex">
                        <span>닉네임</span>
                        <span>작성시간</span>
                    </div>
                    <div>글 내용</div>
                </div>
            </div>
        </div><!--right끝-->
    </div><!--container끝-->
</body>
</html>