<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    (대충 해더 인클루드) 아카라이브 글쓰기 참조asdf
    <div>
        <div>글쓰기</div>
        <div>{카테고리 나열}</div>
        <div>제목<input type="text"></div>
        <div>{이미지 업로드 버튼}</div>
        <div>{내용}</div>
        <button>작성</button>
    </div>
</body>
</html>