<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./write.css">
</head>
<body>
    <header>
        <div class="login">
            <a href="#">로그인</a>/
            <a href="#">로그아웃</a>
        </div>
        <h1 class="headh1">{아이디}님의 블로그</h1>
    </header>
    
    <!-- 아카라이브 글쓰기 참조 -->
    <div class="container">
        <div class="Wpost">
            <form role="form" action="/write" method="post">
                <div class="writeGo">글쓰기</div>
                <div>{카테고리 나열}</div>
                <div>
                    <label class="titletext">제목</label>
                    <input type="text">
                </div>
                <div class="img">
                    <a href=""><img src="../views/image-solid.svg" alt=""></a>
                </div>
                <div><textarea name="" id="" cols="130" rows="30"></textarea>
                </div>
                <button>작성</button>
            </form>
        </div>
    </div>
</body>
</html>