<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kdy.mapper.BoardMapper">

	<select id="maindetail" resultType="org.kdy.domain.BoardDTO">
    	select * from (
            select bno, nickname, category, title, content, regdate
            from board 
            <if test="keyword != null">
                <include refid="criteria"></include>
            </if>
            order by bno desc) as T1 
        <!-- limit ((${pageNum}-1)*${amount}), ${amount} -->
        limit #{skip},#{amount}
 	</select>
    
	<insert id="write">
        insert into board(nickname,category,title,content,regdate)
        values(#{nickname},
        <choose>
			<when test="category == 'Doodle'.toString()">
				'낙서장'
			</when>
			<when test="category == 'diary'.toString()">
				'일기장'
			</when>
			<when test="category == 'travel'.toString()">
				'여행'
			</when>
			<when test="category == 'movie'.toString()">
				'영화'
			</when>
			<when test='category == "photolog"'>
				'포토로그'
			</when>
		</choose>
        ,#{title},#{content},now())
    </insert>

    <select id="detail" resultType="org.kdy.domain.BoardDTO">
      select *
      from board
      where bno=#{bno}
    </select>
    
    <update id="modify">
    	update board
    	set category=
			    	<choose>
						<when test="category == 'Doodle'.toString()">
							'낙서장'
						</when>
						<when test="category == 'diary'.toString()">
							'일기장'
						</when>
						<when test="category == 'travel'.toString()">
							'여행'
						</when>
						<when test="category == 'movie'.toString()">
							'영화'
						</when>
						<when test='category == "photolog"'>
							'포토로그'
						</when>
					</choose>,
    		title=#{title},
    		content=#{content}
    	where bno=#{bno}
    </update>

	<delete id="remove">
    	delete from board
    	where bno=#{bno}
    </delete>

	<select id="total" resultType="int">
		select count(*)
		from board
		<if test="keyword != null">
            <include refid="criteria"></include>
        </if>
	</select>

	<sql id="criteria">
        <trim prefix="where (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like concat('%',#{keyword},'%')
                        </when>
                        <when test="type == 'C'.toString()">
                            content like concat('%',#{keyword},'%')
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

	<select id="realtotal" resultType="int">
		select count(*)
		from board
	</select>
</mapper>