<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kdy.mapper.BoardMapper">
	<insert id="write">
        insert into board(category,title,content,regdate)
        values(
        <choose>
			<when test="category == 'Doodle'.toString()">
				'낙서장'
			</when>
			<when test="category == 'diary'.toString()">
				'일기장'
			</when>
			<when test="category == 'travel'.toString()">
				'여행'
			</when>
			<when test="category == 'movie'.toString()">
				'영화'
			</when>
			<when test='category == "photolog"'>
				'포토로그'
			</when>
		</choose>
        ,#{title},#{content},now())
    </insert>

    <select id="detail" resultType="org.kdy.domain.BoardDTO">
      select *
      from board
    </select>
</mapper>